:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  background-color: #f8fafc;
  color: #1e293b;
}

body {
  margin: 0;
  display: block;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* Ẩn nút tăng giảm của input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}